<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Open Wallet</name>
    <description>
        A public Ripple wallet app that supports any type of value
    </description>
    <author email="zeiler.steven@gmail.com" href="http://zenterp.co">
        Steven Zeiler
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
